# PostgreSQL Veritabanı Ayarları
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# Redis Cache Ayarları
REDIS_PASSWORD=
REDIS_PORT=6379

# JWT Ayarları
JWT_SECRET=
JWT_EXPIRATION_MS=86400000